header h1{
    width: 100%;
    text-align: center;
     color: green;
     background-color: black;
     height: 50px;
     font-size: 55px;
    }

article{
    border: 2px solid blue;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
}
#topten{
    border: 2px solid blue;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 55px;
}
h2{
    text-align: center;
}
ol{
    color: blue;
    list-style-type:decimal-leading-zero;
    padding:100px;


}
ul{
    color: blue;
    list-style-type:disc;
    padding:100px;


}

  
img{
    float: left;
    width: 500px;
    height:350px;

}
p{
    float: right;
    width: 500px;
    height:350px;
}

section{
    clear: both;
}
footer{
    border: 2px solid blue;
}
